
.freehand-regular {
  font-family: "Freehand", cursive;
  font-weight: 400;
}
.fasthand-regular {
  font-family: "Fasthand", cursive;
  font-weight: 400;
}

.moul-regular {
  font-family: "Moul", serif;
  font-weight: 200;
}